body {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(114, 114, 114);
    color: bisque;
}
 /* o corpo ta em cima */

 header.titulo {
width: 100%;
background-color: black;
text-align: center;
padding-top: 5px
}

header.titulo h2 {
    margin: 10px; color: rgb(255, 0, 0);


}

footer{
border: 10px solid gray;
text-align: center;
background-color: bisque;
color: blue;
}

